<div class="form-area">
    <h1>User Details</h1>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="text" id="name" formControlName="name" placeholder="Fullname...">
        </div>
        
        <div>
            <input type="email" id="email" formControlName="email" placeholder="Email...">
        </div>
        
        <div>
            <textarea id="address" formControlName="address" placeholder="Address..."></textarea>
        </div>
        
        <button type="submit" [disabled]="myForm.invalid">Submit</button>
    </form>
</div>

<div *ngIf="userArray.length > 0; else noData">
    <div class="table-area">
        <table>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </thead>
            <tr *ngFor="let user of userArray; let index = index">
                <td>{{ index }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td> <button (click)="onDelete(index)">Delete</button> </td>
            </tr>
        </table>
    </div>
</div>

<ng-template #noData>
    <h4>No data found!</h4>
</ng-template>