<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minus perferendis nam eius vero aperiam reiciendis itaque! Praesentium corrupti voluptatum fugit tempora expedita animi inventore pariatur? Eaque, eius? Assumenda, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minus perferendis nam eius vero aperiam reiciendis itaque! Praesentium corrupti voluptatum fugit tempora expedita animi inventore pariatur? Eaque, eius? Assumenda, quidem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minus perferendis nam eius vero aperiam reiciendis itaque! Praesentium corrupti voluptatum fugit tempora expedita animi inventore pariatur? Eaque, eius? Assumenda, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minus perferendis nam eius vero aperiam reiciendis itaque! Praesentium corrupti voluptatum fugit tempora expedita animi inventore pariatur? Eaque, eius? Assumenda, quidem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minus perferendis nam eius vero aperiam reiciendis itaque! Praesentium corrupti voluptatum fugit tempora expedita animi inventore pariatur? Eaque, eius? Assumenda, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minus perferendis nam eius vero aperiam reiciendis itaque! Praesentium corrupti voluptatum fugit tempora expedita animi inventore pariatur? Eaque, eius? Assumenda, quidem.</p>
        
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        
        </div>
    </div>
</section>